
#appTitle {
  font-family: Quando;
}

#head, #mainbody, #navbar, #play {
  width: 55%;
  min-width: 480px;
  max-width:600px;
  margin: 0 auto;
  display: block
}

#mainbody {
  background-color: #efefef;
  height: 600px;
  border: 2px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid lightgray;
}
.App {
  text-align: center;
}

.square{
  background-color: #bbbbbb;
  width: 60px;
  height: 60px;
  border: none;
  color: black;
  padding: 5px 5px 5px 5px;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
}

.square:hover{
  background-color: lightgray;
}
.squareCent{
  background-color: #dec207;
  width: 60px;
  height: 60px;
  border: none;
  color: black;
  padding: 5px 5px 5px 5px;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
}
.squareCent:hover {
  background-color: #ebd52d;
}

#guessBanner {
  font-size: 24px;
  font-weight: bold;
}

#banner{
  font-size: 18px;
}

.funckey {
  background-color: lightgray;
  font-size: 18px;
  margin: 5px 5px 5px 5px;
}
#rulesList{
  margin: 0 auto;
  list-style-type: none;
}

#wordsFound{
  padding: 10px 30px 10px 30px;
  margin: 0px 20px 0px 20px;
}
